:root {
    --main-color: rgb(55,255,0);
    --green-color: rgb(55,255,0);
    --amber-color: rgb(255,176,0);
}

.amber-color {
    --main-color: rgb(255,176,0);
}

.green-color {
    --main-color: rgb(55,255,0);
}

body {
    background-color: black;
    color: var(--main-color);
    font-family: 'Courier New', Courier, monospace;
}

#name {
    font-size: 8vw;
}

#blinking-underscore {
    font-size: 9vw;
    opacity: 0;
}

#background-container {
    position: fixed;
    top: 0;
    left: 0;
    z-index: -1;
    filter: blur(0.8px);
}

main {
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;
    justify-items: center;
}

.project {
    display: flex;
    flex-direction: column;
    width: calc(50px + 25vw);
    padding: 0px;
    border: 2px solid var(--main-color);
    border-radius: 8px;
    margin: 10px 0;
    justify-content: space-between;
    aspect-ratio: 1;
    opacity: 0;
    background-color: black;
}

img.project-preview {
    width: 100%;
    height: 100%;
    border-radius: 6px 6px 0px 0px;
    aspect-ratio: 1/1;
}

.project-description-wrapper {
    margin: 0;
}

.project-description {
    margin: 0;
    padding: 4px;
    border-top: 2px solid var(--main-color);
    user-select: none;
    font-size: calc(12px + 0.5vw);
}

footer {
    text-align: center;
}

a {
    text-decoration: none;
    color: inherit;
}

.github-link {
    width: 1rem;
    margin-left: 5px;
}

@media (max-width: 500px) {
    main {
        grid-template-columns: 1fr;
    }

    .project-description {
        font-size: calc(8px + 1vw);
    }
}

@media (hover: none) {
    .project {
        transform: none !important;
    }
}